header {
    display: flex;
    flex-direction: row;
    border: 3px green solid;
    padding: 2%;
}

header>h1 {
    flex: auto;
}

header>nav {
    width: 20rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    float: left;
    padding: 3%;
    text-align: center;
}

li a {
    text-decoration: none;
}



#blog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2%;
    border: 2px blue solid;

}
.blog img {
    max-width: 100px;
    max-height: 100px;
}


footer {
    padding: 5%;
}